<%- include("partials/header.ejs") %>

<!-- Nav -->

<%- include("partials/navbar.ejs") %>

<!-- Nav end -->

<% if(data.img) {%>
<img src="<%= data.img %>" />
<%}%>
<h1>Title : <%= data.title %></h1>
<p><%= data.description %></p>
<h3>Follower : <%= data.followers %></h3>

<hr />

<article>
  <% for(let post of data.posts) { %>
  <p><%= post.title %> - <%= post.author %></p>
  <% } %>
</article>

<%- include("partials/footer.ejs") %>
